@font-face {
    font-family: 'Circular-Black';
    src: url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-Med';
    src: url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-Bold';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-Book';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@media screen and (min-width:950px){
.judul {
    font-family: 'Circular-Book';
    font-size: 50px;
    color: #4834d4;
    text-align: center;
    vertical-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kecil {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    vertical-align: center;
}

.text {
    padding-top: 0px;
}

.test {
    padding: 25px;
}

.logoatas {
    width: 75%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.kenangan {
    text-align: left;
    font-family: "Circular-Bold";
    font-size: 76px;
    color: #161743;
    line-height: 1.26;
}

.title {
    left: 0px;
    top: 199px;
    vertical-align: bottom;
}

.tekskecil {
    font-size: 24px;
    line-height: 1.25;
    font-family: "Circular-Book" color: #0f0f0f;
}

.ataskecil {
    top: 40px;
}

.blob2 {
    width: 643px;
    height: 319px;
    left: 0px;
    position: relative;
}

.sambutan {
    width: 550px;
    margin-bottom: 0px;
    font-family: Circular-Bold;
    font-size: 68px;
    line-height: 1.26;
    text-align: left;
    color: #161743;
}

.namaketang {
    width: 800px;
    margin-bottom: 0px;
    font-family: Circular-Bold;
    font-size: 34px;
    line-height: 1.26;
    float: right;
    text-align: right;
    color: #161743;
}

.ketang {
    font-family: Circular-Book;
    font-size: 25px;
    line-height: 1.28;
    float: right;
    text-align: right;
    color: #161743;
}
body{
  overflow-x: hidden;
}

.isisambutan {
    width: 500px;
    margin-bottom: 0px;
    font-family: Circular-Book;
    font-size: 20px;
    line-height: 1.25;
    text-align: justify;
    color: #707070;
    padding-left: 1%;
}

.blob1 {
    width: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sejarah {
    width: 356px;
    height: 129px;
    font-family: "Circular-Bold";
    font-size: 102px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: right;
    color: #161743;
}

.isisejarah {
    text-indent: 10%;
    width: 900px;
    margin-bottom: 0%;
    text-align: justify;
    font-family: "Circular-Book";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #707070;
}

.judulmakna{
    width: 150%;
    height: auto;
    font-family: "Circular-Bold";
    font-size: 102px;
    text-align: left;
    color: #161743;

}

.isimakna{
    width: 700px;
    height: 468px;
    font-family: "Circular-Book";
    font-size: 20px;
    text-align: left;
    color: #707070;
    margin-top: 7%;
}

.quanta2{
    width: 30%;
    right: 0%;
    position: absolute;
    float: right;
 }
.navi{
  font-family: "Circular-Bold";
  font-size: 40px;
}
}
.button1{
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #cb1b5e;
    color: #fff;
    transition: all .3s;
    border-radius: 60px;
    padding: 1.25rem;
    padding-right: 3.0rem;
    padding-left: 3.0rem;
    font-size: 1rem;
    box-shadow: 0 32px 64px 0 rgba(203, 27, 94, 0.5);
    width: auto;
    height: auto;
}
/* Ini untuk mobileee */
.mobile-block{
    display: none;
}

@media screen and (max-width:950px){
    /* GROUPED */
    #mobile-btn-about,#mobile-btn-game{
        display: table-cell;
        vertical-align: middle;
    }
    /* SELF */
    .mobile-block{
        display: block;
        width: 100vw;
        background-size: cover;
        font-size: 2em;
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color:White;
    }
    .mobile-wrapper{
        height: 80%;
        width: 80%;
        margin: 0 auto;
        opacity: .8;
        position: relative;
        top: 10%;
        vertical-align: middle;
    }
    .mobile-text{
      font-family: "Circular-Book";
      font-size: 100%;
      color: #2f3640;
      vertical-align: middle;
    }
    .button-wrapper{
      height: 3em;
      margin-top: 5em;
      position: relative;
      font-size: .5em;
    }
    .buttonisi{
      height: 100%;
    text-align: center;
    display: table;
    border-collapse: separate;
    border-spacing: 1em 0;
    margin: 0 auto;
}
.tombol{
  width: 100px;
  height: 100%;
  border: 1px;
  background-color: Black;
}
    }
span:before {
  content:"Punten, teu tiasa ditempoan dina hape.";
  animation: animate infinite 15s;
  animation-timing-function: ease-in;
}
@keyframes animate {
  0%{
    content:"Punten, teu tiasa ditempoan dina hape.";
  }
  20%{
    content:"Maaf, tidak bisa dilihat dari ponsel";
  }
  40%{
    content:"죄송합니다. 휴대 기기에서 볼 수 없습니다.";
  }
  60%{
    content:"عذرا ، لا يمكن رؤيتها من الهاتف المحمول";
  }
  80%{
    content:"对不起，这个网站在手机上看不到";
  }
}
.judulmereka{
    width: 596px;
    height: 129px;
    font-family: "Circular-Bold";
    font-size: 100px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: #161743;
}
.gambarmereka{
    border-radius: 40px;
    width: 192.5px;
    height: 192.5px;
}
.katamereka{
    margin-top: 10%;
    font-family: "Circular-Book";
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
}
.namamereka{
    font-family: "Circular-Med";
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
}
.jabatanmereka{
    font-family: "Circular-Book";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
}
.list{
    display: inline-block;
    list-style: none;
}

.banner{
    max-width: 105%;
    height: auto;
    left: 0px;
    right: 0px;
}
.bottombar{
    margin-top: 0%;
    margin-bottom: 0%;
    width: 102%;
    height: auto;
    left: 0px;
    right: 0px;
}
.teamwork{
    margin-top: -40%;
    padding-left: 50%;
    width: 200%;
    height: 1%;
    font-family: "Circular-Bold";
    font-size: 38px;
    line-height: 1.26;
    color: #ffffff;
}
.whomade{
    margin-top: 17%;
    padding-left: 80%;
    width: 200%;
    height: 1%;
    font-family: "Circular-Book";
    font-size: 21px;
    line-height: 1.29;
    color: #ffffff;
}
.buttontop{
    width: 122px;
    font-size: 35px;
    font-family: "Circular-Book";
    height: 122px;
    color: #ffffff;
    background-color: #ea5167;
    border: transparent;
    cursor: pointer;
    border-radius: 100%;
}

.buttontop:hover {
    background-color: #ea4067;
}

.buttonteam{
    height: 7%;
    width: 19%;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #d85478;
    color: #fff;
    transition: all .3s;
    border-radius: 60px;
    font-size: 1rem;
    box-shadow: 0 32px 64px 0 rgba(203, 27, 94, 0.5);
}
